<div class="layout">
  <div class="info-profile">
    <div class="info-profile__text">
      <p>Nombre de usuario</p>
      <hr>
      <h1>Mario Casas</h1>

      <p>ID</p>
      <hr>
      <h1>123456</h1>


      <p>Último Ingreso</p>
      <hr>
      <h1>12/03/2025</h1>

    </div>
    <div class="info-profile__img">
      <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
    </div>
      
  </div>

  <div class="table">
    <label for="cars">Bienes a mi cargo:</label>
    <select id="cars" name="cars" (change)="onOptionChange($event)">
        <option value="areas">Mis áreas</option>
        <option value="branches">Mis brances</option>
        <option value="resources">Mis recursos</option>
        <option value="items">Mis items</option>
    </select>
    <table-composition-shared [columnNames]="currentColumns()"
      [inputData]="currentData()"
      [rowsPerPage]="5">
    </table-composition-shared>
  </div>
</div>