<div>
  <div class="relative">
    <img [src]="previewUrl()"
         alt="Preview"
         width="200"
         height="200"
         class=" w-[250px] h-[250px] rounded-1 bg-gray-600 flex items-center justify-center" />
    <div class="absolute top-1 right-1">
      <!--! Change the delete image button implementation for when we will use a backend service -->
      <button class="btn btn-circle"
              (click)="previewUrl.set(null)"
              #fileInput>
        <svg xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             viewBox="0 0 24 24">
          <path fill="currentColor"
                d="M12 3c-4.963 0-9 4.038-9 9s4.037 9 9 9s9-4.038 9-9s-4.037-9-9-9m0 16c-3.859 0-7-3.14-7-7s3.141-7 7-7s7 3.14 7 7s-3.141 7-7 7m.707-7l2.646-2.646a.5.5 0 0 0 0-.707a.5.5 0 0 0-.707 0L12 11.293L9.354 8.646a.5.5 0 0 0-.707.707L11.293 12l-2.646 2.646a.5.5 0 0 0 .707.708L12 12.707l2.646 2.646a.5.5 0 1 0 .708-.706z" />
        </svg>
      </button>
    </div>
  </div>

  <input type="file"
         accept="image/*"
         class="file-input w-[250px] max-w-xs"
         (change)="onFileSelected($event)" />
</div>
