<div class="chat"
     [class.chat-start]="side()==='start'"
     [class.chat-end]="side()==='end'">
  @if(side()==='end'){
  <div class="chat-image avatar">
    <div class="w-10 rounded-full">
      <img alt="Tailwind CSS chat bubble component"
           src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
    </div>
  </div>
  }
  <div class="chat-header">
    {{from()}}
    <time class="text-xs opacity-50">{{time()}}</time>
  </div>
  <div class="chat-bubble">{{message()}}</div>
  <div class="chat-footer opacity-50">{{messageState?.()}}</div>
</div>