.modal-container::ng-deep modal-form{
    color: black
}

.modal-container{
    background-color: #111827;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

modal-form{
    background-color: aqua;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}


table-composition-shared{
    background-color: aquamarine;
    grid-column: 1 / 3;
}

sub-list{
    background-color: bisque;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

enter-img{
    background-color: brown;
    height: 100%;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}