/*.modal-container::ng-deep modal-form{
    color: black
}

.modal-container{
    background-color: #111827;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

modal-form{
    background-color: aqua;
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}


table-composition-shared{
    background-color: aquamarine;
    grid-column: 1 / 4;
    grid-row: 4 / 6;
    height: auto;
    
}

sub-list{
    background-color: bisque;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    padding: 10px;
}

enter-img{
    background-color: brown;
    height: 100%;
    grid-column: 3 / 4;
    grid-row: 3 / 4;

}

*/
