<div class="flex flex-row h-screen w-full">
  <sidebar-layout (currentOptionTitle)="currentTitle.set($event)"></sidebar-layout>
  <main class="flex flex-col flex-1">
    <progressbar-shared></progressbar-shared>
    <header-layout [currentTitle]="currentTitle()"></header-layout>
    <!-- Aquí va el scroll -->
    <div class="relative bg-[#111827] overflow-auto flex-1 responsive-padding"
         [ngClass]="{
      'overflow-hidden': scrollBloqueado,
      'overflow-auto': !scrollBloqueado
    }">
      <router-outlet></router-outlet>
    </div>
    <chatbot></chatbot>
  </main>
</div>