<div>

  <!--* Filtros -->
  <table-filterbar (onSearchOutput)="onSearch($event)"
                    (onSortChangeOutput)="onSortChange($event)"
                    [columnNames]="columnNames()"
                    [sortField]="sortField()"
                    [sortDirection]="sortDirection()"
                    [showAddButton]="showAddButton()"
                    (sortDirectionOutput)="toggleSortDirection()"
                    (addButonClicked)="onFilterBarAddClicked()"></table-filterbar>

  <!--* Tabla --> 
  <table-shared [data]="paginatedData()"
                [columnNames]="columnNames()"
                [rowsPerPage]="rowsPerPage()"
                [currentPage]="currentPage()"
                (selectedRow)="selectedRow.emit($event)"
                class="table-fixed" />

  <!--* Paginación -->
  <table-pagination [data]="filteredData()"
                    [rowsPerPage]="rowsPerPage()"
                    [currentPage]="currentPage()"
                    (emitCurrentPage)="onPageChange($event)" />
</div>
