<div class="main">
    <div class="main__date">
        <p>Tue, 11 jun</p>
        <p>09:00 am</p>
    </div>
    <div class="main__info">
        <p class="info__type">Type: Create User</p>
        <p class="info__id">ID: 102405567578</p>
    </div>
    <div class="main__icon">
        <!--<p>Icon</p>-->
        <svg xmlns="http://www.w3.org/2000/svg" height="max" viewBox="0 -960 960 960" width="30px" fill="#1f1f1f"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
    </div>
</div>
