<nav id="sidebar"
     class=""
     #sidebar>
  <ul>
    <li>
      <span class="logo">INVERTEX</span>
      <button (click)="toggleSidebar()"
              id="toggle-btn"
              #toggleBtn>
        <svg xmlns="http://www.w3.org/2000/svg"
             height="24px"
             viewBox="0 -960 960 960"
             width="24px"
             fill="#e8eaed">
          <path
                d="m313-480 155 156q11 11 11.5 27.5T468-268q-11 11-28 11t-28-11L228-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T468-692q11 11 11 28t-11 28L313-480Zm264 0 155 156q11 11 11.5 27.5T732-268q-11 11-28 11t-28-11L492-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T732-692q11 11 11 28t-11 28L577-480Z" />
        </svg>
      </button>
    </li>
    <li routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="currentOptionTitleFn('Dashboard')"
        class="tooltip tooltip-right"
        data-tip="dashboard">
      <a routerLink="/client/dashboard">
        <svg xmlns="http://www.w3.org/2000/svg"
             height="24px"
             viewBox="0 -960 960 960"
             width="24px"
             fill="#e8eaed">
          <path
                d="M520-640v-160q0-17 11.5-28.5T560-840h240q17 0 28.5 11.5T840-800v160q0 17-11.5 28.5T800-600H560q-17 0-28.5-11.5T520-640ZM120-480v-320q0-17 11.5-28.5T160-840h240q17 0 28.5 11.5T440-800v320q0 17-11.5 28.5T400-440H160q-17 0-28.5-11.5T120-480Zm400 320v-320q0-17 11.5-28.5T560-520h240q17 0 28.5 11.5T840-480v320q0 17-11.5 28.5T800-120H560q-17 0-28.5-11.5T520-160Zm-400 0v-160q0-17 11.5-28.5T160-360h240q17 0 28.5 11.5T440-320v160q0 17-11.5 28.5T400-120H160q-17 0-28.5-11.5T120-160Zm80-360h160v-240H200v240Zm400 320h160v-240H600v240Zm0-480h160v-80H600v80ZM200-200h160v-80H200v80Zm160-320Zm240-160Zm0 240ZM360-280Z" />
        </svg>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="tooltip tooltip-right"
        data-tip="entities-manager">
      <button (click)="toggleSubMenu(entityManagerBtn)"
              class="dropdown-btn"
              #entityManagerBtn>
        <svg xmlns="http://www.w3.org/2000/svg"
             height="24px"
             viewBox="0 -960 960 960"
             width="24px"
             fill="#e8eaed">
          <path
                d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h207q16 0 30.5 6t25.5 17l57 57h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Zm400-160v40q0 17 11.5 28.5T600-320q17 0 28.5-11.5T640-360v-40h40q17 0 28.5-11.5T720-440q0-17-11.5-28.5T680-480h-40v-40q0-17-11.5-28.5T600-560q-17 0-28.5 11.5T560-520v40h-40q-17 0-28.5 11.5T480-440q0 17 11.5 28.5T520-400h40Z" />
        </svg>
        <span>Entity Manager</span>
        <svg xmlns="http://www.w3.org/2000/svg"
             height="24px"
             viewBox="0 -960 960 960"
             width="24px"
             fill="#e8eaed">
          <path d="M480-361q-8 0-15-2.5t-13-8.5L268-556q-11-11-11-28t11-28q11-11 28-11t28 11l156 156 156-156q11-11 28-11t28 11q11 11 11 28t-11 28L508-372q-6 6-13 8.5t-15 2.5Z" />
        </svg>
      </button>
      <ul class="sub-menu">
        <div>
          <li routerLinkActive="active"
              (click)="currentOptionTitleFn('Branchs')"
              [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/client/entities-manager/branchs">Branchs</a></li>
          <li routerLinkActive="active"
              (click)="currentOptionTitleFn('Areas')"
              [routerLinkActiveOptions]="{exact: true}"><a routerLink="/client/entities-manager/areas">Areas</a></li>
          <li routerLinkActive="active"
              (click)="currentOptionTitleFn('Items')"
              [routerLinkActiveOptions]="{exact: true}"><a routerLink="/client/entities-manager/items">Items</a></li>
          <li routerLinkActive="active"
              (click)="currentOptionTitleFn('Resources')"
              [routerLinkActiveOptions]="{exact: true}"><a routerLink="/client/entities-manager/resources">Resources</a></li>
          <li routerLinkActive="active"
              (click)="currentOptionTitleFn('Users')"
              [routerLinkActiveOptions]="{exact: true}"><a routerLink="/client/entities-manager/users">Users</a></li>
        </div>
      </ul>
    </li>
    <li routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="currentOptionTitleFn('Reports')"
        class="tooltip tooltip-right"
        data-tip="reports">
      <a routerLink="/client/reports">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             viewBox="0 0 32 32">
          <path fill="currentColor"
                d="M10 18h8v2h-8zm0-5h12v2H10zm0 10h5v2h-5z" />
          <path fill="currentColor"
                d="M25 5h-3V4a2 2 0 0 0-2-2h-8a2 2 0 0 0-2 2v1H7a2 2 0 0 0-2 2v21a2 2 0 0 0 2 2h18a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2M12 4h8v4h-8Zm13 24H7V7h3v3h12V7h3Z" />
        </svg>
        <span>Reports</span>
      </a>
    </li>

    <li routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="currentOptionTitleFn('Mashup')"
        class="tooltip tooltip-right"
        data-tip="mashup">
      <a routerLink="/client/mashup">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             viewBox="0 0 256 256">
          <g fill="currentColor">
            <path d="M152 128a24 24 0 1 1-24-24a24 24 0 0 1 24 24"
                  opacity="0.2" />
            <path
                  d="M200 152a31.84 31.84 0 0 0-19.53 6.68l-23.11-18A31.65 31.65 0 0 0 160 128c0-.74 0-1.48-.08-2.21l13.23-4.41A32 32 0 1 0 168 104c0 .74 0 1.48.08 2.21l-13.23 4.41A32 32 0 0 0 128 96a32.6 32.6 0 0 0-5.27.44L115.89 81A32 32 0 1 0 96 88a32.6 32.6 0 0 0 5.27-.44l6.84 15.4a31.92 31.92 0 0 0-8.57 39.64l-25.71 22.84a32.06 32.06 0 1 0 10.63 12l25.71-22.84a31.91 31.91 0 0 0 37.36-1.24l23.11 18A31.65 31.65 0 0 0 168 184a32 32 0 1 0 32-32m0-64a16 16 0 1 1-16 16a16 16 0 0 1 16-16M80 56a16 16 0 1 1 16 16a16 16 0 0 1-16-16M56 208a16 16 0 1 1 16-16a16 16 0 0 1-16 16m56-80a16 16 0 1 1 16 16a16 16 0 0 1-16-16m88 72a16 16 0 1 1 16-16a16 16 0 0 1-16 16" />
          </g>
        </svg>
        <span>Mashup</span>
      </a>
    </li>

    <!-- <div class=" lg:divider"></div> -->

    <label class="toggle text-base-content"
           id="toggleTheme"
           #toggleTheme>
      <input type="checkbox"
             value="synthwave"
             class="theme-controller" />

      <svg aria-label="sun"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 24 24">
        <g stroke-linejoin="round"
           stroke-linecap="round"
           stroke-width="2"
           fill="none"
           stroke="currentColor">
          <circle cx="12"
                  cy="12"
                  r="4"></circle>
          <path d="M12 2v2"></path>
          <path d="M12 20v2"></path>
          <path d="m4.93 4.93 1.41 1.41"></path>
          <path d="m17.66 17.66 1.41 1.41"></path>
          <path d="M2 12h2"></path>
          <path d="M20 12h2"></path>
          <path d="m6.34 17.66-1.41 1.41"></path>
          <path d="m19.07 4.93-1.41 1.41"></path>
        </g>
      </svg>

      <svg aria-label="moon"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 24 24">
        <g stroke-linejoin="round"
           stroke-linecap="round"
           stroke-width="2"
           fill="none"
           stroke="currentColor">
          <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
        </g>
      </svg>

    </label>
  </ul>
</nav>