<gridster [options]="options"
          class="custom-gridster">
  @for (item of dashboard; track item) {
  <gridster-item [item]="item"
                 class="custom-gridster-item"> <!--p-2 es el padding-->
    <!--! Colores de fondo: El div compartido puede generear conflictos -->
    <div class="bg-[{{item.bgColor}}] w-full h-full overflow-y-auto overflow-x-auto scrollbar-custom flex flex-col">
      <!-- <div class="bg-[{{item.bgColor}}] w-full h-full overflow-auto scrollbar-custom flex flex-col"> -->
      @switch (item.type) {
      @case ('LastTransactions') {
      <last-transaction-chart-dashboard></last-transaction-chart-dashboard>
      }
      @case ('TransactionsChart') {
      <div class="h-[100%] pb-12 p-4 bg-[#D1D5DB] text-black">
        <transactions-chart-dashboard></transactions-chart-dashboard>
      </div>
      }
      @case ('TopCategories') {
      <div class="h-full p-4 text-black bg-[#FEAD95]">
        <top-categories-dashboard></top-categories-dashboard>
      </div>
      }
      @case ('TotalItems'){
      <!-- <div class="bg-[#8F96D1"> -->
      <total-items-chart-dashboard></total-items-chart-dashboard>
      <!-- </div> -->
      }
      @default {
      <p>Default content.</p>
      }
      }
    </div>

  </gridster-item>
  }
</gridster>