<gridster [options]="options"
          class="custom-gridster">
  @for (item of dashboard; track item) {
  <gridster-item [item]="item"
                 class="custom-gridster-item"> <!--p-2 es el padding-->
    <div class="w-full h-full overflow-auto scrollbar-custom flex flex-col">
      <!--<transaction-chart-dashboard class="w-full h-full max-h-[400px] sm:max-h-[600px]"></transaction-chart-dashboard>-->
      
      <!--<app-dashboard-element></app-dashboard-element>-->
      @switch (item.type) {
        @case ('LastTransactions') {
          <transaction-chart-dashboard></transaction-chart-dashboard>
        }
        @case ('Graph') {
          <transactions-graph-dashboard></transactions-graph-dashboard>
        }
        @case ('Items'){
          <app-item-chart></app-item-chart>
        }
        @default {
          <p>Default content.</p>
        }
      }

      
    </div>
    
  </gridster-item>
  }
</gridster>
