<!--? Se pasa un componente a dentro de otro y se rendirazo con <ng-content> -->

<div class="mb-[60px] overflow-hidden">

  <table-composition-shared [columnNames]="['id', 'sucursal', 'nombre', 'telefono', 'estado']"
    [inputData]="areas"
    [rowsPerPage]="15"
    (addButtonClickedOutput)="togglePopup()"
    (selectedRow)="editArea($event)">
  </table-composition-shared>
  @if (openPopup()) {
  <div class="absolute inset-0 z-50 overflow-y-scroll">
    <!-- Fondo que se adapta al contenido scrollable -->
    <div class="fixed w-full h-full bg-gray-500 opacity-50 z-10"></div>

    <!-- Contenedor del modal -->
    <div class="relative z-20 p-4 modal-container">
      <p>Registro de áreas</p>
      <upgrated-form [jsonFormDataUrl]="'/form-templates/areas-form.json'"
        [showCancelButton]="true"
        (cancelButtonOutput)="togglePopup()"
        (submitFormValues)="selectedTableArea() === undefined ? addArea($event) : updateArea($event)"
        [editableData]="selectedTableArea()">
        <div class="overflow-hidden  my-5">
          <p>Área padre</p>
          <div class="overflow-y-scroll h-[250px] my-5">
            <table-composition-shared [columnNames]="['nombre', 'telefono', 'estado']"
                                      [inputData]="areas"
                                      [rowsPerPage]="15"
                                      [showAddButton]="false"/>
          </div>
          <hr>
        </div>
      </upgrated-form>    
    </div>
  </div>
  }
</div>