<div class="mb-[60px] overflow-hidden p-6">

  <table-composition-shared [columnNames]="['id', 'sucursal', 'padre', 'nombre', 'telefono', 'estado']"
    [inputData]="areas"
    [rowsPerPage]="15"
    (addButtonClickedOutput)="togglePopup()"
    (selectedRow)="editArea($event)">
  </table-composition-shared>
  @if (openPopup()) {
  <div class="absolute inset-0 z-50 overflow-y-scroll">
    <!-- Fondo que se adapta al contenido scrollable -->
    <div class="fixed w-full h-full bg-gray-500 opacity-50 z-10"></div>

    <!-- Contenedor del modal -->
    <div class="relative z-20 p-4 modal-container">
      <p>Registro de áreas</p>
      <upgrated-form [jsonFormDataUrl]="'/form-templates/areas-form.json'"
        [showCancelButton]="true"
        (cancelButtonOutput)="togglePopup()"
        (submitFormValues)="selectedTableArea() === undefined ? addArea($event) : updateArea($event)"
        [editableData]="selectedTableArea()">
      </upgrated-form>    
    </div>
  </div>
  }
</div>