<div class="chart-container pb-5">
  <div class="gridster-item-content flex justify-between items-center">
    <h2 class="text-[2rem] font-bold">Transactions</h2>
    <select class="bg-white rounded-2xl h-[30px] px-2">
      <option value="year">Year</option>
      <option value="month">Month</option>
    </select>
  </div>
  <canvas baseChart
          [data]="lineChartData"
          [plugins]="[]"
          [options]="lineChartOptions"
          [type]="'line'"
          [legend]="lineChartLegend">
  </canvas>
</div>