<div class="layout">
    <div class="layout__laguage">
        <p>Idioma</p>
        <input placeholder="Español" type="text" class="fieldinput"/>
    </div>

    <div class="layout__theme">
        <p>Tema</p>
        <input type="checkbox" class="toggle"/>
    </div>

    <div class="layout__activity">
        <p>registro de actividad de usuarios</p>
        <button class="btn btn-primary">Logs</button>
    </div>

    <div class="layout__dates">
        <p>Formato de fecha y hora</p>
        <input placeholder="YYYY-mm-DD" type="text" class="fieldinput bg-[white]"/>
    </div>       
</div>