<div class="layout">
    <div class="layout__laguage">
        <p>Idioma</p>
        <select id="language" name="language" class="select w-fit fieldselect bg-[white] text-[black]">
            <option value="es">Español</option>
            <option value="en">Inglés</option>
        </select>
    </div>

    <div class="layout__theme">
        <p>Tema</p>
        <input type="checkbox" class="toggle"/>
    </div>

    <div class="layout__activity">
        <p>Registro de actividad de usuarios</p>
        <button class="btn btn-primary bg-[#CC5F0F]">Logs</button>
    </div>

    <div class="layout__dates">
        <p>Formato de fecha y hora</p>
        <input placeholder="YYYY-mm-DD" type="text" class="fieldinput bg-[white] text-[gray]"/>
    </div>       
</div>