<div class="mb-[60px] p-5 pb-8">

  <table-composition-shared
    [columnNames]="['id', 'nombre', 'ciudad', 'telefono', 'estado']"
    [inputData]="sucursales"
    [rowsPerPage]="15"
    (addButtonClickedOutput)="togglePopup()"
    (selectedEditRow)="editBranch($event)"
    (selectedInfoRow)="toggleCustomProperties()">
  </table-composition-shared>

  @if (openPopup()) {
  <div class="absolute inset-0 z-50 overflow-y-scroll">
    <!-- Fondo que se adapta al contenido scrollable -->
    <div class="fixed w-full h-full bg-gray-500 opacity-50 z-10"></div>

    <!-- Contenedor del modal -->
    <div class="relative z-20 p-4 modal-container">
      <p>Registro de sucursales</p>
      <upgrated-form [jsonFormDataUrl]="'/form-templates/branchs-form.json'"
        [showCancelButton]="true"
        (cancelButtonOutput)="togglePopup()"
        (submitFormValues)="selectedTableBranch() === undefined ? addBranch($event) : updateBranch($event)"
        [editableData]="selectedTableBranch()">
      </upgrated-form>
    </div>
  </div>
  }
  @if (openCustomProperties()) {
  <div class="absolute inset-0 z-50 overflow-y-scroll grid">
    <!-- Fondo que se adapta al contenido scrollable -->
    <div class="fixed w-full h-full bg-gray-500 opacity-50 z-10"></div>

    <!-- Contenedor del modal -->
    <div class="relative bg-[#293650] text-[#FAFAFA] h-2/3 lg:w-2/3 w-4/5 z-20 p-4 overflow-y-scroll self-center justify-self-center">
      <div class="h-[90%] overflow-y-scroll">
        <table-composition-shared
          [columnNames]="['id', 'nombre', 'ciudad', 'telefono', 'estado']"
          [inputData]="sucursales"
          [rowsPerPage]="15"
          [showAddButton]="false">
        </table-composition-shared>
    </div>
      <button type="button"
            class="btn btn-primary ml-auto"
            (click)="toggleCustomProperties()">
        Cerrar
      </button>
    </div>
  </div>
  }

</div>
