<div class="mb-[60px] overflow-hidden">

  <table-composition-shared
    [columnNames]="['id', 'tipo', 'medida', 'moneda', 'descripcion']"
    [inputData]="resources"
    [rowsPerPage]="15"
    (addButtonClickedOutput)="togglePopup()"
    (selectedRow)="editResource($event)">
  </table-composition-shared>

  @if (openPopup()) {
  <div class="absolute inset-0 z-50 overflow-y-scroll">
    <!-- Fondo que se adapta al contenido scrollable -->
    <div class="fixed w-full h-full bg-gray-500 opacity-50 z-10"></div>

    <!-- Contenedor del modal -->
    <div class="relative z-20 p-4 modal-container">
      <p>Registro de recursos</p>
      <upgrated-form [jsonFormDataUrl]="'/form-templates/resources-form.json'"
        [showCancelButton]="true"
        (cancelButtonOutput)="togglePopup()"
        (submitFormValues)="selectedTableResource() === undefined ? addResource($event) : updateResource($event)"
        [editableData]="selectedTableResource()">
        <div class="flex justify-center overflow-hidden  my-5">
          <p>Tipo</p>
          <div class="overflow-y-scroll h-[250px] my-5">
            <sub-list
              [headerText]="'Tipo de recurso'"
              (selectedOptionsOutput)="subListOptions($event)"></sub-list>
          </div>
          <hr>
        </div>
      </upgrated-form>    
    </div>
  </div>
  }

</div>

<!-- <div class="flex flex-col items-center justify-center w-[100%] h-[100%] gap-5">
  <sub-list (selectedOptionsOutput)="subListOptions($event)"></sub-list>

  <enter-img (previewUrlOutput)="onEnterImg($event)"></enter-img>
</div>
 -->