<div class="layout">
  <header>
    <app-transaction-chart-header [title]="'Last transactions'"
                                  [description]="'Basic data of transactions'"></app-transaction-chart-header>
  </header>
  <main class="overflow-y-scroll">

    @for (item of rows; track $index) {
    <transaction-chart-row class="row"
                           [date]="item.date"
                           [date_hour]="item.date_hour"
                           [id]="item.id"
                           [type]="item.type">

    </transaction-chart-row>
    }
  </main>
</div>
